* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}

main {
  height: 75vh;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#imagen_inicio img {
  width: 250px;
  height: 250px;
}

#contenedor_imagenes {
  display: flex;
  width: 170px;
  height: 140px;
}

#contenedor_imagenes img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
#contenedor_imagenes img:hover {
  cursor: crosshair;
  width: 100px;
  opacity: 1;
  filter: contrast(120%);
}

.list-group-item {
  border: rgb(255, 46, 185) solid 1px;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: rgb(255, 46, 185) !important;
  background-color: black;
}

h1 {
  transform: skew(170deg);
}

footer {
  height: 10vh;
  border-top: solid black 5px;
}

#comentario {
  height: 100px;
}

#fnac, #edad {
  background-color: black;
  color: white;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}

.form-control {
  display: block;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  background-color: black;
  width: 100%;
  color: white !important;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}
.form-control:focus {
  display: block;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  background-color: black;
  width: 100%;
  color: white !important;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}

.form-text {
  margin: 0;
  color: white !important;
}

.form-label {
  margin: 0;
}

.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
  color: white;
}

.form-select {
  display: inline-block;
  width: 30%;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: white !important;
  background-color: black;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}

header {
  height: 15vh;
  border-bottom: solid black 5px;
}

header div img {
  height: 100%;
}

.navbar-brand, .navbar-expand-lg .navbar-nav .nav-link {
  font-size: 1.3rem;
  color: rgb(255, 46, 185);
  text-decoration: none;
  white-space: nowrap;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: black;
  margin: 10px;
}
.navbar-brand:hover, .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: black;
  background-color: rgb(255, 46, 185);
}

.navbar-toggler {
  line-height: 1;
  color: black;
  background-color: rgb(255, 46, 185);
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 75vh;
}

section {
  height: 75vh;
}

p {
  color: black;
}

.bg-primary-subtle {
  background-color: rgb(119, 0, 119) !important;
}

.bg-primary {
  background-color: #ff65d8 !important;
  color: rgb(94, 0, 66);
}

.bg-danger {
  background-color: #ff65d8 !important;
}

.text-light {
  color: white !important;
}

.link-light {
  color: white !important;
  -webkit-text-decoration-color: white !important;
  text-decoration-color: white !important;
}

.text-black {
  color: black !important;
}

.text-info-emphasis {
  color: black !important;
  font-size: 0.6rem;
  width: 100%;
  height: 60%;
}

.link-warning {
  color: rgb(255, 46, 185) !important;
  -webkit-text-decoration-color: rgb(255, 46, 185) !important;
  text-decoration-color: rgb(255, 46, 185) !important;
}
.link-warning:hover {
  color: white !important;
  text-decoration-color: white !important;
}

.btn-primary {
  color: white !important;
  background-color: black !important;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}
.btn-primary:hover {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(119, 0, 119);
  border-radius: 10px;
  color: rgb(255, 46, 185);
}

.table-primary, .table {
  text-align: center;
  background-color: #ff65d8;
  color: black;
  border-color: black;
  margin-bottom: 10px;
}

.table {
  width: 100%;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
