
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    main{
        height: 80vh;
    }
    footer{
        height: 25vh;
        font-size: 0.7rem;
    }
    #imagen_inicio 
        img{
        width: 120px;
        height: 120px;
    }
    aside{
        height: auto;
    }
    header
        div
            img{
                display: none;
            }
    header
        nav{
            position: relative;
            top:-80px
        }
    section
        p{
            font-size: 0.9rem;
        }

    .historia{
        height: 170vh;
    }

    .nominaciones{
        height: 130vh;
    }
}

// @media (min-width:425px){
//     #contenedor_imagenes{
//         display: flex;
//         width: 300px;
//         height: 270px;
        
//     }
    
//     #contenedor_imagenes {
//         img {
            
//             width: 0px;
//             flex-grow: 1;
//             object-fit: cover;
//             opacity: .8;
//             transition: .5s ease;
//             &:hover{
//                 cursor: crosshair;
//                 width: 200px;
//                 opacity: 1;
//                 filter: contrast(120%);
//             }
//         }
//     }
// }


@media (min-width: 1024px) {
    #imagen_inicio 
    img{
    width: 350px;
    height: 350px;
    margin-left: 20px;
}

    main
        div
            h1{
                font-size: 3rem;
}

    section
        p{
            font-size: 2rem;
        }
    
}
