$colors: (
    color-white: white,
    color-black: black,
    color-lightpink: #ff65d8,
    color-pink: rgb(255, 46, 185),
    color-violet: rgb(94, 0, 66),
);

$font-size: (
    font-xs:0.6rem,
    font-sm: 1rem,
    font-nav: 1.3rem
)