* {
    margin: 0;
    padding: 0;
    font-family: $font-primary !important;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
}

main {
    height: 75vh;
}

article {
    @include flex-row-center;
}

#imagen_inicio{ 
    img{
        width: 250px;
        height: 250px;
    } 
}

#contenedor_imagenes{
    display: flex;
    width: 170px;
    height: 160px;
    
}

#contenedor_imagenes {
    img {
        
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
        &:hover{
            cursor: crosshair;
            width: 100px;
            opacity: 1;
            filter: contrast(120%);
        }
    }
}

.list-group-item {
    border: map-get($colors , color-pink)solid 1px;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: map-get($colors , color-pink) !important;
    background-color: map-get($colors , color-black);
}