.bg-primary-subtle{
    background-color: $bg-primary !important;
}

.bg-primary {
    background-color: #ff65d8 !important;
    color: rgb(94, 0, 66);
}

.bg-danger {
    background-color: #ff65d8 !important
}

.text-light {
    color: white !important;
}

.link-light {
    color: white !important;
    -webkit-text-decoration-color: white !important;
    text-decoration-color: white !important;
}

.text-black {
    color: black !important;
}


.text-info-emphasis {
    color: black !important;
    font-size: 0.7rem;
    width: 100%;
    height: 60%;
}


.link-warning {
    color: rgb(255, 46, 185) !important;
    -webkit-text-decoration-color: rgb(255, 46, 185) !important;
    text-decoration-color: rgb(255, 46, 185) !important;
        &hover{
            color: rgb(255, 255, 255) !important;
            text-decoration-color: rgb(255, 255, 255) !important;
        }
}