.bg-primary-subtle{
    background-color: $bg-primary !important;
}

.bg-primary {
    background-color: map-get($colors , color-lightpink) !important;
    color: map-get($colors , color-violet);
}

.bg-danger {
    background-color: map-get($colors , color-lightpink) !important
}

.text-light {
    color: map-get($colors , color-white) !important;
}

.link-light {
    color: map-get($colors , color-white) !important;
    -webkit-text-decoration-color: map-get($colors , color-white) !important;
    text-decoration-color: map-get($colors , color-white) !important;
}

.text-black {
    color: map-get($colors , color-black) !important;
}


.text-info-emphasis {
    color: map-get($colors , color-black) !important;
    font-size: map-get($font-size , font-xs);;
    width: 100%;
    height: 60%;
}


.link-warning {
    color: map-get($colors , color-pink) !important;
    -webkit-text-decoration-color: map-get($colors , color-pink) !important;
    text-decoration-color: map-get($colors , color-pink) !important;
        &:hover{
            color: map-get($colors , color-white) !important;
            text-decoration-color: map-get($colors , color-white) !important;
        }
}