
.table-primary {
    text-align: $text-center;
    background-color: map-get($colors , color-lightpink);
    color: map-get($colors , color-black);
    @include border (null, null, map-get($colors, color-black), null);
}

.table {
    @extend .table-primary;
    width: 100%;
    margin: 0;
    padding: 0;
}
