.table {
    text-align: center;
    background-color: #ff65d8 !important;
    width: 100%;
    border-color: var(--bs-table-border-color);
    margin: 0;
    padding: 0;
}

.table-primary {
    text-align: center;
    background-color: #ff65d8;
    color: black;
    border-color: black;
}