.table {
    text-align: center;
    background-color: $color-lightpink !important;
    width: 100%;
    border-color: var(--bs-table-border-color);
    margin: 0;
    padding: 0;
}

.table-primary {
    text-align: center;
    background-color: $color-lightpink;
    color: $color-black;
    border-color: $color-black;
}