#comentario {
    height: 100px;
}

#fnac {
    background-color: map-get($colors , color-black);
    color: map-get($colors , color-white);
    @include border (2px, solid, map-get($colors, color-white), 10px);
}

#edad {
    @extend #fnac
}

.form-control {
    display: block;
    padding: 0;
    font-size: map-get($font-size , font-sm);
    font-weight: 400;
    line-height: 1;
    background-color: map-get($colors , color-black);
    width: 100%;
    color: map-get($colors , color-white) !important;
    @include border (2px, solid, map-get($colors, color-white), 10px);
        &:focus{
            display: block;
            padding: 0;
            font-size: map-get($font-size , font-sm);
            font-weight: 400;
            line-height: 1;
            background-color: map-get($colors , color-black);
            width: 100%;
            color: map-get($colors , color-white) !important;
            @include border (2px, solid, map-get($colors, color-white), 10px);
        }
}

.form-text {
    margin: 0;
    color: map-get($colors , color-white) !important;
}

.form-label {
    margin: 0;
}

.form-control-color:not(:disabled):not([readonly]) {
    cursor: pointer;
    color: map-get($colors , color-white);
}

.form-select {
        display: inline-block;
        width: 30%;
        padding: 0;
        font-size: map-get($font-size , font-sm);
        font-weight: 400;
        line-height: 1;
        color: map-get($colors , color-white) !important;
        background-color: map-get($colors , color-black);
        @include border (2px, solid, map-get($colors, color-white), 10px);
}

