.navbar-brand {
    font-size: map-get($font-size , font-nav);;
    color: map-get($colors , color-pink);
    text-decoration: none;
    white-space: nowrap;
    @include border (3px, solid, map-get($colors, color-black), 10px);
    background-color: map-get($colors , color-black);
    margin: 10px;
        &:hover{
            color: map-get($colors , color-black);
            background-color: map-get($colors , color-pink);
        }
}


.navbar-expand-lg .navbar-nav .nav-link {
    @extend .navbar-brand
}

.navbar-toggler {
    line-height: 1;
    color: map-get($colors , color-black);
    background-color: map-get($colors , color-pink);
    @include border (2px, solid, map-get($colors, color-black), 10px);
}