.navbar-brand {
    font-size: map-get($font-size , font-nav);;
    color: map-get($colors , color-pink);
    text-decoration: none;
    white-space: nowrap;
    border: 3px solid map-get($colors , color-black);
    border-radius: 10px;
    background-color: map-get($colors , color-black);
    margin: 10px;
        &:hover{
            color: map-get($colors , color-black);
            background-color: map-get($colors , color-pink);
        }
}


.navbar-expand-lg .navbar-nav .nav-link {
    @extend .navbar-brand
}

.navbar-toggler {
    line-height: 1;
    color: map-get($colors , color-black);
    background-color: map-get($colors , color-pink);
    border: map-get($colors , color-black) solid 2px;
    border-radius: 10px;
}