
.btn-primary {
    color: map-get($colors , color-white) !important;
    background-color: map-get($colors , color-black) !important;
    @include border (2px, solid, map-get($colors, color-white), 10px);
        &:hover{
            @include border (2px, solid, $bg-primary, 10px);
            color: map-get($colors , color-pink);
        }
}