
.btn-primary {
    color: $color-white !important;
    background-color: $color-black !important;
    border: solid 2px $color-white;
    border-radius: 10px;
        &:hover{
            border: solid 2px $bg-primary;
            color: $color-pink;
        }
}