
.btn-primary {
    color: map-get($colors , color-white) !important;
    background-color: map-get($colors , color-black) !important;
    border: solid 2px map-get($colors , color-white);
    border-radius: 10px;
        &:hover{
            border: solid 2px $bg-primary;
            color: map-get($colors , color-pink);
        }
}